.editor {
    display: none;
    height: 80vh;
    width: 85vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.meme-editor {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 40%;
    background-color: var(--clr4);
    border-radius: 25px;
    margin: auto;
}

.btn-editor {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px black solid;
    transform: scale(1);
    transition: transform 0.5s;
}

.btn-editor:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

.canvas-container {
    margin: auto;
    height: 75%;
    width: 55%;
}

.plus {
    width: 58px;
    height: 53px;
    box-shadow: 2px 2px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 15px;
    background-color: var(--clr5);
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
    border-style: none;
}

.switch {
    width: 57px;
    height: 53px;
    box-shadow: 2px 2px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 15px;
    background-color: var(--clr5);
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
    border-style: none;
}

.trash {
    width: 58px;
    height: 53px;
    box-shadow: 2px 2px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 15px;
    background-color: var(--clr5);
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
    border-style: none;
}

.share {
    background-image: linear-gradient(-38deg, #ffffff 0%, #c34f96 1%, #8036f0 100%);
    border-radius: 10px;
    border: none;
}

.download {
    background-image: linear-gradient(-38deg, #ffffff 0%, #2525e9 1%, #9599cf 100%);
    border-radius: 10px;
    border: none;
}

.save {
    background-image: linear-gradient(-38deg, #ffffff 0%, #e96d25 1%, #dbca7d 100%);
    border-radius: 10px;
    border: none;
}

.second-area {
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 85%;
    height: 35%;
    background-image: linear-gradient(-86deg, #33be6db3 0%, #74d6ec 100%);
    border-radius: 15px;
}

.fill-color {
    display: none;
    top: 200px;
}

.row-3 {
    margin-top: 25px;
}

.row-4 {
    margin-top: 25px;
}

.meme-text {
    width: 85%;
    height: 8%;
    box-shadow: 1px 2px 0 #bbc4d1, inset 0 0px 0 #ffffff;
    border-radius: 28px;
}

@media (max-width:600px) {
    .editor {
        flex-direction: column;
    }

    .canvas-container {
        height: 55%;
        width: 100%;
    }

    .meme-editor {
        height: 40%;
        width: 85%;
        border-radius: 25px;
    }

    .editor-btns {
        margin-top: 15px;
    }

    .btn-editor {
        width: 35px;
        height: 30px;
    }

}