/* @media (max-width:600px) {

    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(9, 1fr);
    }

    .menu-btn {
        visibility: visible !important;
        margin: auto;
        border-radius: 40%;
        grid-area: 1/7/1/7;
    }

    .cell {
        width: 100%;
        height: 100%;
    }

    .menu-btn {
        visibility: visible
    }

    .btn.gall {
        display: none;
        margin: auto;
    }

    .btn.about {
        display: none;
    }
} */

.grid-container {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    width: 70%;
    height: 70%;
    align-content: center;
    justify-content: center;
}

@media (max-width:600px) {

    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(9, 1fr);
    }

    .menu-btn {
        visibility: visible !important;
        margin: auto;
        border-radius: 40%;
        grid-area: 1/7/1/7;
    }

    .cell {
        width: 100%;
        height: 100%;
    }

    .menu-btn {
        visibility: visible
    }

    .btn.gall {
        display: none;
        margin: auto;
    }

    .btn.about {
        display: none;
    }
}