.grid-container {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    width: 70%;
    height: 70%;
    align-content: center;
    justify-content: center;
}

.gap {
    height: 2vh;
}

.gallery {
    flex-direction: row;
    background-color: var(--clr2);
    height: 100%;
    width: 100%;
}


.cell {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 0.5s;
}

.cell:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

.search-img {
    margin-top: 15px;
    gap: 5px;
    width: 90vw;
    margin-bottom: 1rem;
    justify-content: space-around;
    align-items: center;
}

.filter-click {
    transform: scale(1);
    transition: transform 0.3s;
}

.filter-click:hover {
    transform: scale(1.2);
    filter: brightness(1.1);
}

.click-filter {
    height: 40px;
    min-width: 10rem;
    background-color: var(--clr1);
    border-radius: 10px;
    padding-left: 10px;
    color: white;
    width: 55%;
    justify-content: space-around;
}

.filter-img {
    height: 40px;
    min-width: 10rem;
    background-color: var(--clr1);
    border-radius: 10px;
    padding-left: 10px;
    color: white;
    width: 100%;
}



@media (max-width:600px) {
    header {
        align-items: center;
        justify-content: space-between;
    }

    .logo-img {
        height: 5vh;
        width: 35vw;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(9, 1fr);
        z-index: -1;
    }

    .menu-btn {
        display: block !important;
        height: 50%;
        width: 8%;
        margin-left: 40%;
        border-radius: 45%;
        transform: scale(1);
        transition: transform 0.5s;
        cursor: pointer;
        background: rgb(192, 216, 192);
        border: 1px solid rgb(14, 23, 14);
    }

    .menu-btn :hover {
        transform: scale(1.1);
        filter: brightness(1.1);
    }

    .cell {
        z-index: 0;
    }

    body.menu-open .nav-bar {
        transform: translateX(0);
        transition: transform 1s;
    }

    body.menu-open .main-screen {
        pointer-events: auto;
        opacity: 1;
        z-index: 1;
    }

    .nav-bar {
        flex-direction: column;
        position: fixed;
        transform: translateX(100%);
        transition: transform 1s;
        height: 100vh;
        width: 50%;
        top: 0;
        right: 0;
        background-color: var(--clr1);
        z-index: 2;
    }

    .nav-bar li {
        height: 80px;
        border-bottom: 1px solid rgb(54, 54, 54);
        text-align: center;
        margin-top: 60px;
    }


}