/* Setup */
@import './setup/vars.css';
@import './setup/font-face.css';

/* Basic */
@import './basic/helpers.css';

/* gallery */

@import './gallery.css';
@import './editor.css';

/* basic */
* {
    box-sizing: border-box;
}

html {
    font-family: Poppins;
    color: var(--clr2);
    /* line-height: 1.25em; */
    letter-spacing: 0.48px;
    line-height: 1.13;
}

body {
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: rgb(148, 171, 171);
    width: 99vw;
    height: 7vh;
    margin: auto;
    align-content: space-evenly;
    border-radius: 30px;
    margin: 5px;
}

img {
    height: 100%;
    width: 100%;
}

canvas {
    outline: 1px solid black;
    display: block;
    margin: 0 auto;
    background-color: antiquewhite;
}

footer {
    margin-top: 50px;
    background-color: aqua;
}

.logo {
    grid-area: 1/ 6/ 1/ 2;
    align-self: center;
}

.btn.gall {
    grid-area: 1/ 6/ 1/ 6;
    margin: auto;
}

.btn.about {
    grid-area: 1/ 7/ 1/ 7;
    margin: auto;
}

.menu-btn {
    visibility: hidden
}

.gallery {
    flex-direction: row;
    background-color: aqua;
    height: 100%;
    width: 100%;
}