* {
    box-sizing: border-box;
}

html {
    font-family: Poppins;
    color: var(--clr2);
    letter-spacing: 0.48px;
    line-height: 1.13;
}

body {
    margin: 0;
    background-color: var(--clr1)
}

img {
    height: 100%;
    width: 100%;
}

.logo {
    cursor: pointer;
    margin-top: 4px;
    animation: rotate-word 1.5s;
    animation: logoAnimation 1.5s;
}

header {
    display: flex;
    background-image: linear-gradient(-86deg, #33be6d 0%, #74d6ec 100%);
    height: 7vh;
    margin: auto;
    align-content: space-evenly;
    border-radius: 30px;
    margin: 5px;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
    transform: scale(1);
    transition: 0.55s;
    padding: 7px;
}

a:hover {
    color: var(--clr6);
    background-color: white;
    transform: scale(1.5);
    border-radius: 20px;
}

.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.8s;
}

.menu-btn {
    display: none;
}

@media (min-width:601px) {
    .nav-bar {
        width: 450px;
        justify-content: space-evenly;
        align-items: center;
    }

    .logo-img {
        height: 6vh;
        width: 230px;
    }
}

@keyframes logoAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    75% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes rotate-word {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}